body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f9f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #004d00;
}

footer {
    background-color: #003300;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


